[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
numba = "*"
matplotlib = "*"
scikit-learn = "*"
tqdm = "*"
pypd = {file = "."}

[dev-packages]
black = "*"
jupyter = "*"

[requires]
python_version = "3.11"
