[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
numba = "*"
matplotlib = "*"
scikit-learn = "*"
tqdm = "*"
pypd = {file = "."}
ruff = "*"

[dev-packages]
jupyter = "*"
black = {extras = ["jupyter"], version = "*"}

[requires]
python_version = "3.11"
