[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
numba = "*"
matplotlib = "*"
scikit-learn = "*"
tqdm = "*"
black = "*"
pypd = "*"

[dev-packages]
sphinx = "*"

[requires]
python_version = "3.9"
